body {
  font-family: "Instrument Serif";
  text-align: center;
}
.world-clock {
  background: url("../src/gradient.jpg") top / cover no-repeat;
  max-width: 36%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  min-height: 500px;
  box-shadow: 0 10px 40px rgba(140, 140, 140, 0.4);
}

h1 {
  color: rgba(255, 236, 236, 0.6);
  font-style: italic;
  font-size: 80px;
  line-height: 0.3;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 12px;
  text-align: center;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  cursor: pointer;
}

.clock-container {
  background-color: rgba(235, 234, 234, 0.4);
  margin: 6px auto;
  border-radius: 10px;
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: end;
}
.location {
  justify-content: end;
}

.date {
  font-size: 11px;
  text-transform: uppercase;
  color: #4d1b1b;
  opacity: 0.7;
  text-align: left;
  margin-bottom: -10px;
}
h2 {
  font-size: 22px;
  line-height: 0.8;
  text-align: left;
  text-transform: uppercase;
}
.time {
  font-size: 65px;
  font-weight: 800;
}
footer {
  text-align: center;
}
em {
  font-size: 10px;
  color: #000000;
  opacity: 0.4;
}

footer {
  color: #d1a79d;
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
}
a {
  font-style: normal;
  color: #d42d02;
  border-radius: 10px;
  padding: 2px;
  font-weight: 900;
  text-align: center;
  margin: 20px auto;
  transition: all 0.5s ease;
}
