body {
  font-family: "Bricolage Grotesque";
  text-align: center;
}
h1 {
  font-size: 42px;
  font-weight: 800;
}
footer {
  text-align: center;
}
em {
  font-size: 10px;
}

footer {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
}
a {
  font-style: normal;
  color: #fe2400;
  border-radius: 10px;
  padding: 2px;
  font-weight: 900;
  text-align: center;
  margin: 20px auto;
  transition: all 0.5s ease;
}
